* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 180px;
    background-color: #3f5324;
    position:relative;
    bottom: 10px;
}

.nav_box {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 60px;
}
.lista {
    position: absolute;
    top: 4px;
    right: 20px;
    font-weight: bold;
    color: black;
    background-color: #C1C551;
}
.my_shop {
    font-size: 3.5rem;
    font-weight: bold;
    color: #C1C551;
    font-family: cursive;
    cursor: pointer;
    position: absolute;
    top: 59px;
}

.cart {
    cursor: pointer;
    position: absolute;
    top: 80px;
    right: 50px;
}

.cart span:nth-child(1) {
    font-size: 2rem;
    color: white;
}

.cart span:nth-child(2) {
    padding: 0 3px;
    background-color: red;
    color: white;
    font-weight: bolx;
    border-radius: 5px;
    position: relative;
    top: -15px;
}
.parte_final {
    position: relative;
    top: 1000px;
    color: black;
}

.frase-consumidores {
    font-family:'Poppins';
    font-style: normal;
    font-weight: 100px;
    font-size: 39.0625px;
    line-height: 59px;
    color: #2b2b2b;
    width: 600px;
    height: 59px;
    position: relative;
    align-items: center;
    top: -40px;
    left: 20%;
}

.frase-lorem-um {
    width: 250px;
    height: 73px;
    font-family: 'Poppins';
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    color: #828089;
    position: relative;
    left: 5%;

}

.frase-lorem-dois {
    width: 250px;
    height: 73px;
    font-family: 'Poppins';
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    color: #828089;
    position: relative;
    left: 35%;
    bottom: 105px;
}

.frase-lorem-tres {
    width: 250px;
    height: 73px;
    font-family: 'Poppins';
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    color: #828089;
    position: relative;
    left: 65%;
    bottom: 210px;
}
.nome-consumidor-um {
    width: 132px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    color: #2b2b2b;
    position: relative;
    left: 10%;
    top: 20px;
}

.nome-consumidor-dois {
    width: 132px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    color: #2b2b2b;
    position: relative;
    left: 40%;
    bottom: 85px;
}

.nome-consumidor-tres {
    width: 132px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    color: #2b2b2b;
    position: relative;
    left: 70%;
    bottom: 189px;
}

.footer {
    position: relative;
    list-style: none;
    display: flex;
    width: 72px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
}

.frase-final {
    display: flex;
    align-items: center;
    width: 4390px;
    height: 24px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
    position: relative;
    left: 25%;
    top: 65px;
}

.footer-um {
    width: 100%;
    height: 100px;
    background-color: #C1C551;
}

.footer-dois {
    width: 100%;
    height: 100px;
    background-color: #3f5324;
}

.rodape-um {
    position: relative;
    left: 110px;
    top: 38px;
}

.rodape-dois {
    position: relative;
    left: 350px;
    top: 38px;
}

.rodape-tres {
    position: relative;
    left: 590px;
    top: 38px;
}